@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html {
    --color-lines: #3c3c3c;
    --color-primary: #ffffff;
    --color-secondary: #acacac;
    --color-accent: #E62997;
    --color-neutral: #191919;
    --color-base: #000000;
  }

  html[data-theme="dark"] {
    --color-lines: #3c3c3c;
    --color-primary: #ffffff;
    --color-secondary: #acacac;
    --color-accent: #E62997;
    --color-neutral: #191919;
    --color-base: #000000;
  }

  html[data-theme="light"] {
    --color-lines: #3c3c3c;
    --color-primary: #000000;
    --color-secondary: #525252;
    --color-accent: #E62997;
    --color-neutral: #f3f3f3;
    --color-base: #FFFFFF;
  }


  html,
  body {
    @apply bg-neutral text-primary;
  }

  html[data-theme="light"] {
    .logo {

        @apply w-auto h-full max-h-[40px] md:max-h-full;
        filter: invert(0);

    }
  }

  html[data-theme="dark"] {
    .logo {

        @apply w-auto h-full max-h-[40px] md:max-h-full;
        filter: invert(1);

    }
  }

  .wrapper {
    @apply w-full max-w-9xl mx-auto px-5 md:px-10;
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-[60px] font-medium lg:leading-[64px];
  }

  h2 {
    @apply text-[28px] md:text-3xl lg:text-[40px] font-medium leading-7;
  }

  h3 {
    @apply text-xl lg:text-2xl font-normal;
  }

  h4 {
    @apply text-normal lg:text-xl font-normal;
  }

  h1, h2, h3, h4, h5, h6, p {

    @apply text-primary;

    @apply overflow-hidden will-change-transform;

    > div {
      @apply inline-block overflow-hidden;
    }
  }

  .splitTextOverflow {
    @apply overflow-hidden inline-block tracking-tight;
    //line-height: 1.1;
    > * {
      @apply overflow-hidden inline-block tracking-tight;
    }
  }


  .input {
    @apply bg-base border-0 outline-none;

    &:focus {
      @apply ring-2 ring-primary outline-none border border-primary #{!important};
    }

    &.input-bordered {
      @apply border-2 border-primary;
    }

    &.input-error {
      @apply border-2 border-red-700
    }
  }

  .select {
    @apply bg-base;

    &.select-bordered {
      @apply border-2 border-primary;
    }
  }

  .textarea {
    @apply bg-base;

    &:focus {
      @apply ring-2 ring-primary outline-none border border-primary #{!important};
    }

    &.textarea-bordered {
      @apply border-2 border-primary;
    }
  }

  form {
    .label-text {
      @apply text-secondary;
    }
  }

}
